* {
  box-sizing: border-box;
}

.boxHolder {
  width: 850px;
  height: 500px;
  box-sizing: border-box;
  /*border: solid red 1px;*/
}

.leftBox {
  width: 17.6%;
  height: 100%;
  float: left;
  
  box-sizing: border-box;
  border: solid 2px black;
}

.buttonHolder {
  box-sizing: border-box;
  height: 50%;
  width: 100%;
  /*border: red solid 1px;*/
  position: relative;
  top: 25%;
  
  text-align: center;
  vertical-align: middle;
  line-height: 4.5;
}

.rightBoxParent {
  width: 82.4%;
  height: 100%;
  float: right;
  box-sizing: border-box;
  border: solid 2px black;
}

.rightBoxChild {
  border: solid 2px black;
  box-sizing: border-box;
  width: 80%;
  height: 80%;
  position: relative;
  top: 10%;
  left: 10%;
}

.childRightInner {
  height: 100%;
  width: 50%;
  box-sizing: border-box;
  /*border: solid red 1px;*/
  float: left;
}

.textHolder {
  height: 50%;
  width: 100%;
  box-sizing: border-box;
  /*border: red solid 1px;*/
  position: relative;
  top: 25%;
  padding-top: 10%;
}

p {
  text-align: center;
  vertical-align: middle;
  font-size: 25px;
  font-family: 'Courier New', Courier, monospace;
}

.childLeftInner {
  height: 100%;
  width: 50%;
  box-sizing: border-box;
  /*border: solid red 1px;*/
  float: right;
}

.imageHolder {
  height: 50%;
  width: 100%;
  box-sizing: border-box;
  /*border: solid red 1px;*/
  position: relative;
  top: 25%;
  object-fit: cover;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 194.6px;
  max-width: 275.9px;
}
/* button styles */

.fruitButton {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  border: none;
  background-color: transparent;
}
